{% extends 'base.html' %} {% load static %} {% block head %} {% endblock %}
{%block content %}
<section class="record-container">
	<article class="record-details">
		<h1 class="rock-salt-regular">{{record.title}}</h1>
		<h2>{{record.artist}}</h2>
		<h3>{{record.release_date}}</h3>
		<div class="record-actions">
			<a href="{% url 'record-update' record.id %}" class="btn warn">Edit</a>
			<a href="{% url 'record-delete' record.id %}" class="btn danger"
				>Delete</a
			>
    </article>
	</div>
	<dialog id="track-add-form">
		<article>
			<form
				action="{% url 'add-track' record.id %}"
				method="post"
				class="subsection-content"
				autocomplete="off">
				<h3>Add A Track</h3>
				{% csrf_token %} {{track_form.as_table}}
				<button type="submit" class="btn submit">Add track</button>
			</form>
		</article>
	</dialog>
	<article class="track-container">
		<h2>Track Listing</h2>
		{% if record.track_set.all.count %}
		<table>
			<thead>
				<tr>
					<th>Track No.</th>
					<th>Track Title</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
				{%for track in record.track_set.all%}
				<tr>
					<td>{{track.track_no}}</td>
					<td>{{track.title}}</td>
					<td>{{track.duration}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div>
      <p>No Tracks added</p>
		</div>
		{% endif %}
    <button id="track-add-btn">add track</button>
	</article>
</section>
{% endblock %}
