{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/records/record-detail.css' %}" />
{% endblock %} {% block content %}
<section class="record-container">
	<div class="record-details">
		<h1>{{record.title}}</h1>
		<h2>{{record.artist}}</h2>
		<h3>{{record.release_date}}</h3>
		<div class="record-actions">
			<a href="{% url 'record-update' record.id %}" class="btn warn">Edit</a>
			<a href="{% url 'record-delete' record.id %}" class="btn danger"
				>Delete</a
			>
		</div>
	</div>
	<div class="track-container">
		<h3>Add A Track</h3>
		<form
			action="{% url 'add-track' record.id %}"
			method="post"
			class="subsection-content"
			autocomplete="off">
			{% csrf_token %} {{track_form.as_p}}
			<button type="submit" class="btn submit">Add track</button>
		</form>
		<h2>Track Listing</h2>
		{% if record.track_set.all.count %}
		<table>
			<thead>
				<tr>
					<th>Track No.</th>
					<th>Track Title</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
				{%for track in record.track_set.all%}
				<tr>
					<td>{{track.track_no}}</td>
					<td>{{track.title}}</td>
					<td>{{track.duration}}</td>
				</tr>
				{% endfor %}
			</tbody>
			{% else %}
		</table>
		<div>
			<p>No Tracks added</p>
		</div>
		{% endif %}
	</div>
</section>
{% endblock %}
