{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css" />
		<link rel="stylesheet" href="{% static "css/base.css" %}">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="{% static "js/modal.js" %}" defer></script>
		<title>Vinyl Collector</title>
		{% block head %} {% endblock %}
	</head>
	<body>
		<header class="container">
			<nav>
				<ul>
					<li>
						<a href="/">
							<img class="nav-logo" src="{% static "images/vinyl-record.png" %}"
							alt="Vinyl Collector Logo" />
						</a>
					</li>
				</ul>
				<ul>
					<li><a href="{% url 'record-index'%}">All Records</a></li>
					<li><a href="{% url 'record-create' %}">Add Record</a></li>
					<li><a href="{% url 'about'%}">About</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">{% block content %} {% endblock %}</main>
	</body>
</html>
